<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精品VIP卡</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="__STATIC__/index/index/css/mobile-style.css">
    <link rel="stylesheet" href="__STATIC__/index/join/css/mobile-multiselect.css">
    <link rel="stylesheet" href="__STATIC__/index/join/css/owneradd.css">
    <script src="__STATIC__/common/index/js/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/common/index/js/jquery.form.js"></script>
    <script src="__STATIC__/common/index/js/jquery.validate-1.13.1.js"></script>
    <script src="__STATIC__/common/layer/layer.js"></script>

</head>
<body>
用户进入要推广的页面，点击右上角的...  然后选择要分享的平台即可
<p></p>
<img style="width: 90%;" src="__STATIC__/index/img/share1.png">

</body>
<script>
    var url = "{$Think.config.url}";
</script>
<script src="__STATIC__/common/index/common.js"></script>
<script src="__STATIC__/common/index/dialog.js"></script>
<script src="__STATIC__/index/user/js/owner.js"></script>

</html>


