<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精品VIP卡•找回密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">


    <script src="__STATIC__/common/index/js/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/common/index/js/jquery.form.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/index/css/account-register.css">
    <link rel="stylesheet" href="__STATIC__/index/index/css/mobile-style.css">
    <script src="__STATIC__/common/layer/layer.js"></script>
    <style>
        .wrap .verify_code{
            width: 80% !important;
        }
        .register .list.short-list .right-area a{
            border:1px solid #aaa;
            margin-left: -40%;
            width: 150% !important;
        }
        .get_code:hover.point{
            cursor: wait;
        }
    </style>
</head>
<body>
<div class="register">
    <form action="{$Think.config.url}/account/forget/" method="post" id="registerForm">
        <input type="hidden" name="__token__" value="{$Request.token}"/>
        <input class="verify_key" name="uid" type="text" value="" hidden="" style="display: none">
        <div class="list">
            <div class="wrap">
                <input class="phone" name="tel" type="tel" placeholder="输入手机号" >
            </div>
        </div>
        <div class="list short-list">
            <div class="wrap">
                <input class="image_code" type="text" name="img_code" placeholder="输入图片验证码">
            </div>
            <div class="right-area">
                <img class="code-img" width="100px" height="40px" src="{:captcha_src()}">
            </div>
        </div>
        <div class="list short-list">
            <div class="wrap">
                <input class="verify_code" type="text" name="verify_code" placeholder="输入短信验证码" >
            </div>
            <div class="right-area">
                <a class="get_code" onclick="sendSMS()">获取验证码</a>
            </div>
        </div>
        <div class="list">
            <div class="wrap">
                <input class="password" type="password" name="newpwd" placeholder="输入新密码（6-16）位">
            </div>
        </div>
        <button class="submit">提交</button>
    </form>
</div>
</body>
<script>
    var imgsrc = "{:captcha_src()}";//验证图片src
    var url = "{$Think.config.url}";
</script>

<script src="__STATIC__/common/index/common.js"></script>
<script src="__STATIC__/common/index/dialog.js"></script>
<script src="__STATIC__/index/user/js/register.js"></script>
</html>