<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精品VIP卡•首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="__STATIC__/index/index/css/mobile-style.css">
    <link rel="stylesheet" href="__STATIC__/index/index/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/index/css/slider.css">
    <link rel="stylesheet" href="__STATIC__/index/slider/css/swiper.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="__STATIC__/index/index/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__STATIC__/index/index/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/index/index/css/main.css" rel="stylesheet">
    <link href="__STATIC__/index/index/css/style.css" rel="stylesheet">
    <link href="__STATIC__/index/index/css/style1.css" rel="stylesheet">
<style>
	.doitem:hover .doimg{
		transform: scale(1.4);
	}

	.blogitem:hover .post-in{
		background:#F2F2F2;
	}
	.black{
		color: black;
	}
	hr {

    border-top: 1px solid #337AB7;
    border-bottom: 1px solid #337AB7;

	}
	.team article h5{
		height: 50px;
		line-height: 50px;
	}
	.myitemhover{

	}
	.why-choose article{
		border-bottom: 2px solid #337AB7;
	}
     .big{
        font-size: 15px;
     }
     .doimg{
            width: 100%;
     }
    .tittle-post{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

</style>

<script type="text/javascript" src="__STATIC__/index/index/js/jquery.min.js"></script>
<script  type="text/javascript" src="__STATIC__/index/slider/js/swiper.min.js"></script>

<body>
<header  class="header-normal" >
   <div id="undefined-sticky-wrapper"  class="sticky-wrapper is-sticky" style="height: 72px;"><div class="sticky" style="position: fixed; top: 0px;">
      <div class="container-fluid">
        <!-- Logo -->
        <div class="logo" title="出色读"> <a href="index.html"><img style="width: 200px; height: 50px;" class="img-responsive" src="__STATIC__/index/index/images/logo.png" alt=""></a> </div>
        <!-- Navigation -->
        <nav class="navbar webimenu">
          <!-- MENU BUTTON RESPONSIVE -->
          <div class="menu-toggle"> <i class="fa fa-bars"> </i> </div>
          <!-- NAV -->
          <ul  class="nav ownmenu mynav" style="height: 80px;">
              <li class="active"> <a  href="index.html">首页</a></li>
            <li> <a href="ztmb1.html">直通美本</a></li>
            <li> <a href="zzmy1.html">在职美研</a> </li>
            <li> <a href="esl.html">ESL课程</a> </li>
            <li> <a href="school.html"> 华盛顿学院 </a></li>
            <li> <a href="our.html">关于我们</a></li>
            <li  class="sub-menu login"> <a id='chinese' href=""></a>
            </li>
            <li> <a target="_blank" href="https://onlineclass.chusedu.com/login/index.php">登录/注册</a> </li>
          </ul>
        </nav>
      </div>
    </div>
    </div>
  </header>
     <!--======= HOME MAIN SLIDER =========-->
  <section  class="home-slider margin-top-30" style="width: 2000px">
    <div class="focus" id="focus">
		<div class="left">
			<ul>
                <li id="img_1">
                    <h1>1111</h1>
                    <a href="index.html"><img  src="__STATIC__/index/index/images/u13.png"/></a>
                </li>
                <li id="img_2">
                    <a href="index.html"><img src="__STATIC__/index/index/images/u5.png"/></a>
                </li>
                <li id="img_3">
                    <a href="index.html"><img src="__STATIC__/index/index/images/u313-1.png"/></a>
                </li>
			</ul>
        </div>
		<div class="right">
			<ul>
				<li class="active"><i class="i1"></i><img  src="__STATIC__/index/index/images/5_u19.png"/></li>
				<li><i class="i2"></i><img src="__STATIC__/index/index/images//1_u15.png"/></li>
				<li><i class="i3"></i><img src="__STATIC__/index/index/images/3_u17.png"/></li>
				<li><i class="i4"></i><img src="__STATIC__/index/index/images/banner1.png"/></li>

			</ul>
		</div>
	</div>

  </section>


    <!--<div class="home-page" >-->
        <!--<div id="slideBox" class="slideBox ui-slider swiper-container" style="height:auto; min-height: 160px; background-color: #eee;">-->
            <!--<div class="swiper-wrapper" style="max-width:100%;">-->
                <!--<div class="swiper-slide">-->
                    <!--<a href=""><img src="__STATIC__/index/index/images/1.jpg" alt=""></a>-->
                <!--</div>-->

                <!--<div class="swiper-slide">-->
                    <!--<a href=""><img src="__STATIC__/index/index/images/2.jpg" alt=""></a>-->
                <!--</div>-->

                <!--<div class="swiper-slide">-->
                    <!--<a href=""><img src="__STATIC__/index/index/images/3.jpg" alt=""></a>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="swiper-pagination"></div>-->
        <!--</div>-->
        <!--<div class="house-superior">-->
            <!--<i class="l-icon"></i><span class="name">精选商品</span>-->
        <!--</div>-->
        <!--<div class="house-list" id="house-list">-->
            <!--{volist name="dataSources" id="items"}-->

                <!--<div class="house-item">-->
                    <!--<a href="{$Think.config.url}/rents/detail/{$items.Id}">-->
                        <!--<div class="pic-area">-->
                            <!--<img width="105px" height="80px" src="__STATIC__/{$items.imageurl}">-->
                        <!--</div>-->

                        <!--<div class="desc">-->
                            <!--<h2>{$items.rtitle}</h2>-->

                            <!--<p class="location"><i></i><span class="price">{$items.rprice}元/月</span></p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--{/volist}-->
        <!--</div>-->
    <!--</div>-->


    <!--{include file="index/public/weixin"/}-->
    <!--{include file="index/public/footer" /}-->
</body>
<script src="__STATIC__/index/index/js/bootstrap.min.js"></script>
<!--<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>-->
<!--<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=4fc4cb889e8aaf3012fd1272f5d173b4&plugin=AMap.CitySearch"></script>-->
<!--<script src="__STATIC__/common/index/common.js"></script>-->
<!--<script src="__STATIC__/common/index/dialog.js"></script>-->
<script>
    var tool = new Tool();
    //实例化map对象
    tool.map();

    //显示当前城市定位
    tool.showCityInfo(".city-select>span");


    //轮播图实例
    tool.swiper();

     var arr = tool.getLatLng();
//    console.log(arr)
    //解析定位结果

    //解析定位错误信息
     $("#zh").click(function(){
            translate(0);



            $("#chinese").html('中文');

        })

    $("#en").click(function(){
		$("#chinese").html('English');
            translate(1);




    $(".navbar").find('a').attr("style","color: red;")




        })

</script>
</html>