<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>年轻就是资本！【活力艾5】五月激情帖招募</h2>
“呦！客官，您来了？里面请，炕头热乎坐炕头，伙计，上茶！咱们边品边说。”


5月，基情澎湃！此时此刻的老北京车展正进行的如火如荼，去不上的卡们是不是内心满满的眼馋与恨意？别着急啊，坐咱的“大公共”也跟他们一样！奖品照样不少您的，这不是“五一劳动节”和“五四骚年节”马上了么，俺娘从小就教育俺“俭以养德、勤劳为本”，有车擦车省钱还锻炼身体，当然了，也不能大伙都擦车的滥竽充数，咋地也得弄点花出来不是？废话少说，捞干货走起！

要求：
1、以【活力艾5】+XXXXXXXXXX（题目自拟），艾5论坛首发！（首发懂吗？）300字以上配以有版权的创意小视频+精美的15张以上图片，包括提车用车、维护保养、技术改装、事故教训、集体公益活动（腐败就算了）、家务劳动、自驾游记，内容通顺易懂、不矫情、不做作；没有负面影响，积极向上的帖子都可以发。爱卡认证ID限一篇精华帖报名参赛！
2、本活动不仅仅局限于奇瑞艾瑞泽5一款车型争文，鼓励其他车型积极参与，但其他车型参赛帖要局限于：事故教训、集体公益活动、家务劳动、自驾游记，且自己爱车的图片不得少于3张，不耽误一等奖的争夺！（有扶老奶奶过马路的英雄事迹也可以报名，哈哈~开个玩笑）
3、自拍的创意视频时间要求30秒----180秒之间，严禁违章违法违停，视频要先发布在视频网站上然后插入在帖子里，且视频要与主题相关。
4、若参赛帖没有视频也不强求，只是多少会影响下审核标准。活动期间若产生强帖，只做加分项考虑，大奖审核以帖子的精彩程度评定。

时间：4月29日----5月31日
</body>
</html>