<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <script src="__STATIC__/common/index/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=4fc4cb889e8aaf3012fd1272f5d173b4&plugin=AMap.CitySearch"></script>

    <link rel="stylesheet" href="__STATIC__/index/index/css/mobile-style.css">

    <link rel="stylesheet" href="__STATIC__/libs/Semantic/semantic.css">
    <script src="__STATIC__/libs/Semantic/semantic.js"></script>

    <script src="__STATIC__/libs/SweetAlert/dist/sweetalert2.js"></script>
    <link rel="stylesheet" href="__STATIC__/libs/SweetAlert/dist/sweetalert2.min.css">

    <style>
        #column1 ul li a{
            border: 1px solid red;
        }
        #column2 ul li a{
            border: 1px solid black;
        }
    </style>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=4fc4cb889e8aaf3012fd1272f5d173b4&plugin=AMap.CitySearch"></script>
</head>
<body>
{include file="index/public/weixin" /}
    <div id="main-content" class="content refresh-content pull-to-refresh-content native-scroll" data-type="auto" data-ptr-distance="55">
        <!-- 默认的下拉刷新层 -->
        <div class="content-inner">

            <div id="list-body" style="display: block">
                <!--图片-->

                <!--图片-->


                <section id="select">

                <div class="house-list " style="min-height: 548px;margin-bottom: 40px">
                    <div class="js-tab-body clearfix">
                        <ul class="list-root" id="list-root">
                            {volist name="dataSources" id="items"}
                                <li class="clearfix">

                                    <a href="{$Think.config.url}/rents/detail/{$items.Id}">
                                        <div class="img fr">
                                            <img data-url="__STATIC__/{$items.imageurl}" width="110" height="70" class="imglazyload" src="__STATIC__/{$items.imageurl}">
                                        </div>
                                        <div class="info">
                                            <h3>{$items.rtitle}</h3>

                                            <span class="prize">价格：</span>{$items.rprice}元/月
                                            <div>
                                                {if $items.beginTime neq ""}

                                                <span class="prize">活动开始时间：</span>{$items.beginTime}<br> <span class="prize">活动结束时间：</span>{$items.endTime}</span>
                                                {/if}
                                            </div>
                                            <div>
                                                {if $items.name eq "活动"}
                                                {if $items.over neq ""}
                                                <span style="color: green">活动结束</span>
                                                {/if}
                                                {/if}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {/volist}

                        </ul>
                    </div>
                </div>
                <button id="list-more" page_num="1" class="list-more" style="margin-bottom: 50px;display: none">
                    <img style="display: none" src="/images/loading.gif" width="16" height="16">
                    <span>查看更多</span>
                </button>
            </section>

                <p id="loading-p" style="position: absolute; top: 220px; left: 0px; width: 100%; text-align: center; display: none;">
                    <img src="/images/loading.gif" width="35" height="35">
                </p>


            </div>
        </div>
    </div>

    <!--footer -->
        <div style="height:49px;margin-top: -50px;">
            <div id="bottom-nav" class="clearfix">
                <a class="bottom-item"  href="{$Think.config.url}/index">
                    <div class="item-icon icon1"></div>
                    <p>首页</p>
                </a>
                <a class="bottom-item active"  href="{$Think.config.url}/rents">
                    <div class="item-icon icon2"></div>
                    <p>找房</p>
                </a>
                <a class="bottom-item"  href="{$Think.config.url}/account/user">
                    <div class="item-icon icon3"></div>
                    <p>我的</p>
                </a>
            </div>
        </div>
    <!--footer end-->


    <div class="popup district-popup modal-in" style="background: none;bottom: 0;bottom:14%; height: auto;">
        <div class="content-block">
            <span class="close-popup close-btn"></span>
            <section id="region" class="clearfix ">
                <div id="column1" class="content native-scroll " style="position: static">
                    <div class="content-inner">
                        <ul>
                            <li class="region-list">
                                <a class="active" district_id="0">不限</a></li>

                            <li class="region-list"><a district_id="3621">昌平区</a></li>
                            <li class="region-list"><a district_id="3613">朝阳区</a></li>
                        </ul>
                    </div>
                </div>

                <div id="column2" class="content native-scroll" style="position: static;text-align: left;">
                    <div class="content-inner">
                        <div id="district-detail-box">
                            <div class="district-detail-mask"></div>
                            <ul district_id="3621" class="active">
                                <li class="region-list"><a district_id="3621">不限</a></li>
                                <li class="region-list"><a biz_area_id="891544811">北七家西沙各庄村</a></li>
                                <li class="region-list"><a biz_area_id="8698">北七家镇</a></li>
                                <li class="region-list"><a biz_area_id="891545014">白各庄新村</a></li>
                                <li class="region-list"><a biz_area_id="10713">百善镇</a></li>
                                <li class="region-list"><a biz_area_id="5380">城北街</a></li>
                                <li class="region-list"><a biz_area_id="8459">城南</a></li>
                                <li class="region-list"><a biz_area_id="11117">崔村镇</a></li>
                                <li class="region-list"><a biz_area_id="12153">昌平镇</a></li>
                                <li class="region-list"><a biz_area_id="8699">东小口镇</a></li>
                                <li class="region-list"><a biz_area_id="891545114">巩华镇</a></li>
                                <li class="region-list"><a biz_area_id="891545161">回龙观</a></li>
                                <li class="region-list"><a biz_area_id="891545162">回龙观东大街</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="popup popup-about more-popup modal-in" style="background: none;bottom: 0;bottom:14%; height: auto;">

        <div class="content-block">
            <div class="content" data-type="auto">
                <div class="content-inner">
                    <div class="search-header">
                        <a id="reset-btn">重设条件</a>
                    </div>
                    <div style="padding:20px 10px 50px 15px;">
                        <div class="choose-list">
                            <h3 class="option-name" style="margin-top: 0">租赁方式</h3>
                            <div class="items-box clearfix" id="items-box-1">
                                <ul id="select-ul-1" data-name="type" data-key="rent_type">
                                    <li class="合租" data-value=""><i class="default-icon"></i>不限</li>
                                    <li class="" data-value="整租"><i class="type-1"></i>整租</li>
                                    <li class="focus" data-value="合租"><i class="type-2"></i>合租</li>
                                </ul>
                            </div>
                            <h3 class="option-name">户型(居室)</h3>
                            <div class="items-box  clearfix" id="items-box-2">
                                <ul id="select-ul-2" data-name="room" data-key="room">
                                    <li class="focus" data-value="">不限</li>
                                    <li data-value="1">1居</li>
                                    <li data-value="2">2居</li>
                                    <li data-value="3">3居</li>
                                    <li data-value="4">4居</li>
                                    <li data-value="5">5居</li>
                                    <li data-value="gt:5">5居+</li>
                                </ul>
                            </div>
                            <h3 class="option-name" style="margin-top:0;">面积(平米)</h3>
                            <div class="items-box clearfix" id="items-box-3">
                                <ul id="select-ul-3" data-name="area" data-key="rent_area">
                                    <li data-value="" class="focus"><i class="default-icon"></i>不限</li>
                                    <li data-value="lt:15"><i class="area-1"></i><15平</li>
                                    <li data-value="range:15;20"><i class="area-3"></i>15-20平</li>
                                    <li data-value="range:20;50"><i class="area-4"></i>20-50平</li>
                                    <li data-value="range:50;90"><i class="area-5"></i>50-90平</li>
                                    <li data-value="range:90;130"><i class="area-6"></i>90-130平</li>
                                    <li data-value="range:130;200" style="width: 28%;"><i class="area-7"></i>130-200平</li>
                                    <li data-value="gt:200"><i class="area-8"></i>>200平</li>
                                </ul>
                            </div>
                            <h3 class="option-name hidden">供暖方式</h3>
                            <div class="items-box hidden" id="items-box-4">
                                <ul id="select-ul-4" data-name="heat" data-key="heat_way">
                                    <li data-value="" class="focus"><i class="default-icon"></i>不限</li>
                                    <li data-value="集中供暖"><i class="heat-1"></i>集中供暖</li>
                                    <li data-value="独立供暖"><i class="heat-2"></i>独立供暖</li>
                                    <li data-value="中央空调供暖"><i class="heat-3"></i>中央空调</li>
                                </ul>
                            </div>
                            <h3 class="option-name">排序</h3>
                            <div class="items-box clearfix" id="items-box-5">
                                <ul id="select-ul-5" data-name="order">
                                    <li data-sorters="" data-value="" class="focus"><i class="default-icon"></i>默认</li>
                                    <li data-sorters="rent_price" data-value="ASC"><i class="order-3"></i>租金&uarr;</li>
                                    <li data-sorters="rent_price" data-value="DESC"><i class="order-4"></i>租金&darr;</li>
                                    <li data-sorters="rent_area" data-value="ASC"><i class="order-5"></i>面积&uarr;</li>
                                    <li data-sorters="rent_area" data-value="DESC"><i class="order-6"></i>面积&darr;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="more-confirm-btn" class="btn-block btn-danger btn-fixed">确定</button>
        </div>
    </div>


    <div class="popup popup-about price-popup modal-in" style="background: none;bottom: 0;bottom:14%;height: auto;">
        <div class="content-block">
            <span class="close-popup close-btn"></span>
            <div id="prize-choose">
                <div class="content">
                    <div class="content-inner">
                        <section id="select_prize" class="clearfix">
                            <div class="prize-group">
                                <ul class="clearfix" style="text-align: center">
                                    <li><a option_val="gt:0" class="active">不限</a></li>
                                    <li><a option_val="lt:1500" >1500元以下</a></li>
                                    <li><a option_val="range:1500;2500" >1500−2500元</a></li>
                                    <li><a option_val="range:2500;3500" >2500−3500元</a></li>
                                    <li><a option_val="range:3500;4500" >3500−4500元</a></li>
                                    <li><a option_val="range:4500;5500" >4500−5500元</a></li>
                                    <li><a option_val="range:5500;6500" >5500−6500元</a></li>
                                    <li><a option_val="gt:6500" >6500元以上</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="index/public/footer" /}

</body>
<link rel="stylesheet" href="__STATIC__/index/rent/css/dropload.css">
<script src="__STATIC__/index/rent/js/dropload.js"></script>
<script src="__STATIC__/common/index/common.js"></script>
<script src="__STATIC__/common/index/dialog.js"></script>
<script>
    //显示当前城市定位
//    #choose-city>.router>span
    var tool = new Tool();
    var dialogs = new Dialog();
    tool.showCityInfo("#choose-city>.router>span")

    //监听滚动条事件
//    tool.onscroll();
//      tool.onloadContent();






    $('#select .select-header .tb')
            .on('click', function() {
                var data_popup = $(this).attr("data-popup");
                $(data_popup).modal('setting', 'closable', false)
                        .modal('show');
                var section = $(data_popup).find("section");
                var sectionId = section.attr("id");


                if(sectionId=="region"){
                    $(section.find("#column1 .region-list a")).on("click",function(){
                        var district_id = $(this).attr("district_id");

                        $(this).addClass('active').siblings().removeClass('active');

                        console.log($("#column1 .region-list a").siblings().length)
                        var len = $(this).siblings().length;
                        console.log(len);
;
                        $(section.find("#column1")).addClass("active");
                        $(section.find("#column2")).addClass("active");



//                        var a =  $(section.find("#column2 .region-list a")).length;
////                        console.log(a);
//                        for(var i=0;i<a;i++){
//                            console.log($(section.find("#column2 .region-list a")).html());
//                        }


//                        $(section.find("#column2 .region-list a")).click(function(){
//                            console.log("niaho");
//                            var biz_area_id = $(this).attr("biz_area_id");
//                            console.log(biz_area_id);
//                        })


                    });
                }

            })
</script>
</html>