<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="__STATIC__/index/index/css/mobile-style.css">
    <link rel="stylesheet" href="__STATIC__/index/index/css/index.css">

    <script src="__STATIC__/common/index/js/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/common/index/common.js"></script>
    <style>
        .shop{
            position: relative;
        }
        .shoplist{
            position: absolute;
            top:-140%;
            width: 80px;
            left:24%;
            box-shadow: 0 0 20px 8px rgba(102,102,102,.06);
            background: #fff;
            text-align: center;
            padding-top: 10px;
        }
        .shoplist li{
            height: 30px;
            line-height: 30px;
        }
    </style>
</head>
<body>

<!--footer -->
<div style="height:49px;margin-top: -50px;">
    <div id="bottom-nav" class="clearfix">
        <a class="bottom-item" index="index"  href="{$Think.config.url}/index">
            <div class="item-icon icon1"></div>
            <p>首页</p>
        </a>
        <!--href="{$Think.config.url}/rents?id=2"-->
        <a class="bottom-item shop" index="rents"  >
            <div class="item-icon icon2"></div>
            <p>商品</p>
            <div class="shoplist">
                <ul>
                    {foreach $cate as $item}
                    <li index="{$item['Id']}">{$item['name']}</li>
                    {/foreach}
                </ul>
            </div>
        </a>
        <!--<a class="bottom-item"  index="user" href="{$Think.config.url}/account/user">-->
         <a class="bottom-item"  index="user" href="{$Think.config.url}/agent/index">
            <div class="item-icon icon3"></div>
            <p>我的</p>
        </a>
    </div>
</div>
<!--footer end-->
</body>
<script>
    var tool = new Tool();
        tool.footerChangeCSS();

    //商品的分类初期是i隐藏的 点击之后显示
    $(".shoplist").hide();

    $(".shop").click(function(){
        if($(".shoplist").is(':hidden')){
            $(".shoplist").show();
        }else{
            $(".shoplist").hide();
        }
    })

    $(".shoplist li").click(function(){
        var _index=$(this).attr("index");
        var _url="{$Think.config.url}/rents?id="+_index;
        location.href=_url;
    })
</script>
</html>