<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="select-reason active" id="serviceCot" style="background-color: transparent;">
        <div class="wrap">
            <h2>为什么选择达人寓？</h2>
            <ul class="clearfix">
                <li class="gd01">
                    <img src="__STATIC__/index/details/images/reason-bg1.png" width="140" height="140">
                    <h3>经济快捷租房体验</h3>
                    <p>真房源  0中介费  租金月付</p>
                </li>
                <li class="gd02">
                    <img src="__STATIC__/index/details/images/reason-bg2.png" width="140" height="140">
                    <h3>时尚有品生活环境</h3>
                    <p>精致装修  全新家具  品牌家电 智能安全电子锁</p>
                </li>
                <li class="gd03">
                    <img src="__STATIC__/index/details/images/reason-bg3.png" width="140" height="140">
                    <h3>标准贴心服务体系</h3>
                    <p>专业管家  24小时维修  定期保洁 50M独享宽带</p>
                </li>
                <li class="gd04">
                    <img src="__STATIC__/index/details/images/reason-bg4.png" width="140" height="140">
                    <h3>精彩进步社群生活</h3>
                    <p>达人寓社区  在线交友  本地生活</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>